In [1]:
Name="Uday Sanga"

In [2]:
type(Name)

str

In [3]:
a=10
b=20
c=30
a+=b
print(a)
b-=a # a= a-b
print(b)

30
-10

In [4]:
x=10
y=20
z=30
x*=y
print(x)
x/=y
print(x)
x%=y
print(x)
x//=y
print(x)

200
10.0
10.0
0.0

## In python there are 4 types of operators
- 1. Arithmetic operators
- 2. Relational(comparison) operators
- 3. Assignment operators
- 4. Bitwise operators

## Integer data type

## Arithmetic Operators for Integer

In [5]:
a= 10
b= 20
c= 30

In [6]:
#1. Addition (+)
a+b

30

In [7]:
b+c

50

In [8]:
c+a

40

In [9]:
#2. Subtraction (-)

In [10]:
b-c

-10

In [11]:
print((a-b)+(c-a))

10

In [12]:
#3. Multiplication (*)
a*b

200

In [13]:
(c*a)*b

6000

In [14]:
#4. Division (/)
a/b

0.5

In [15]:
c/b

1.5

In [16]:
#5. Modulus (%)
b%a

0

In [17]:
a%b

10

In [18]:
#6. Exponent (**)
b**a

10240000000000

In [19]:
a**b

100000000000000000000

In [20]:
a**c

1000000000000000000000000000000

In [21]:
#7. Floore Division (//)
a//c

0

In [22]:
b//c

0

In [23]:
c//b

1

## Relational(comparison) operators for Integer
- Relational operators give True or False

In [24]:
a=10
b=12
c=22

In [25]:
# Equal to Equal (==)
a==b

False

In [26]:
# Not Equal to (!=)
a!=b

True

In [27]:
#Greater than (>)
c>b

True

In [28]:
a>b

False

In [29]:
#Lessthan (<)
a<b

True

In [30]:
c<b

False

In [31]:
# Greater than nor equal to (>=)
a>=b

False

In [32]:
c>=b

True

In [33]:
# Less than nor equal to (<=)
a<=c

True

In [34]:
c<=b

False

## Assignment Operators for Integer

In [35]:
a=10
b=5
c=20

In [36]:
# equal to (=)
d=a+b
d

15

In [37]:
# Add And (+=)
b+=a

In [38]:
b

15

In [39]:
#Subtract AND (-=)
c-=b

In [40]:
c

5

In [41]:
# Multiply AND (*=)
c*=b

In [42]:
c

75

In [43]:
# Divide AND (/=)
c/=a

In [44]:
c

7.5

In [45]:
# Modulus AND (%=)
b%=a

In [46]:
b

5

In [47]:
#Exponent AND (**=)
b**=a

In [48]:
b

9765625

In [49]:
# Flore Division (//=)

c//=a

In [50]:
c

0.0

## Float data type

## Arithmetic Operators for Float data type

In [51]:
a= 10.5
b= 5.7
c= 12.6

In [52]:
#1. Addition (+)
a+b

16.2

In [53]:
c+a

23.1

In [54]:
#2. Subtraction (-)
a-b

4.8

In [55]:
#3. Multiplication (*)
b*c

71.82

In [56]:
#4. Division (/)
c/a

1.2

In [57]:
#5. Modulus (%)
a%b

4.8

In [58]:
#6. Exponent (**)
c**a

358006344963.9484

In [59]:
#7. Floore Division  (//)
a//b

1.0

## Complex data type

## Arithmetic Operators for complext data type

In [60]:
a=6+2j
b=3+4j
c=10+5j

In [61]:
#1. Addition (+)
a+b

(9+6j)

In [62]:
c+a

(16+7j)

In [63]:
#2. Subtraction (-)
a-b

(3-2j)

In [64]:
#3. Multiplication (*)
b*a

(10+30j)

In [65]:
#4. Division (/)
c/a

(1.7499999999999998+0.25000000000000006j)

In [66]:
#5. Modulus (%) ##.----> here can't mod complex numbers.
a%b

TypeError: can't mod complex numbers.

In [ ]:
#6. Exponent (**)
c**a

In [ ]:
#7. Floore Division  (//) -----> can't take floor division of complex number.
a//b

## Relational(comparison) operators for complex data type

In [77]:
a=6+2j
b=3+4j
c=10+5j

In [78]:
# Equal to Equal (==)
a==b

False

In [79]:
# Not Equal to (!=)
a!=b

True

In [80]:
#Greater than (>)------> It is not supported between instances of 'complex' and 'complex'
c>b

TypeError: '>' not supported between instances of 'complex' and 'complex'

In [81]:
#Lessthan (<) --------> It is not supported between instances of 'complex' and 'complex'
a<b

TypeError: '<' not supported between instances of 'complex' and 'complex'

In [82]:
# Greater than nor equal to (>=) --------->It is not supported between instances of 'complex' and 'complex'
a>=b

TypeError: '>=' not supported between instances of 'complex' and 'complex'

In [83]:
# Less than nor equal to (<=) --------->It is not supported between instances of 'complex' and 'complex'
a<=c

TypeError: '<=' not supported between instances of 'complex' and 'complex'

## Python Assignment Operators for complex data type

In [84]:
a=6+2j
b=3+4j
c=10+5j

In [85]:
# equal to (=)
d=a+b
d

(9+6j)

In [69]:
# Add And (+=)
b+=a
b

(9+6j)

In [70]:
#Subtract AND (-=)
c-=b
c

(1-1j)

In [71]:
# Multiply AND (*=)
c*=b
c

(15-3j)

In [72]:
# Divide AND (/=)
c/=a
c

(2.1-1.2j)

In [73]:
# Modulus AND (%=) ------> can't mod complex numbers
b%=a

TypeError: can't mod complex numbers.

In [74]:
#Exponent AND (**=)
b**=a
b

(-208764.86190704178+447843.1249106919j)

In [75]:
# Flore Division (//=)-----> can't take floor of complex number.

c//=a

TypeError: can't take floor of complex number.

## String Data Type

## Arithmetic operators for string data type

In [89]:
Name1="Hello"
Name2="World"

In [91]:
#1. Addition (+)
Name1+Name2

'HelloWorld'

In [92]:
#2. Subtraction (-) -----> It will not work on Strings
Name1-Name2

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [93]:
#3. Multiplication (*)
Name2*3

'WorldWorldWorld'

In [96]:
#4. Division (/)------> It will not work on Strings
Name2/Name1
Name2/3

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [97]:
#5. Modulus (%) ##.----> not all arguments converted during string formatting
Name1%Name2

TypeError: not all arguments converted during string formatting

In [100]:
#6. Exponent (**) ----> It won't support for string
Name1**2

TypeError: unsupported operand type(s) for ** or pow(): 'str' and 'int'

In [101]:
#7. Floore Division (//) -----> It won't support for string
Name1//Name2

TypeError: unsupported operand type(s) for //: 'str' and 'str'

## Relational(comparison) operators for string data type

In [102]:
First_Name="Uday"
Last_Name="Sanga"

In [103]:
# Equal to Equal (==)
First_Name==Last_Name

False

In [104]:
# Not Equal to (!=)
First_Name!=Last_Name

True

In [105]:
#Greater than (>) ------> How ?
First_Name>Last_Name

True

In [106]:
#Lessthan (<)----- How?
First_Name<Last_Name

False

In [107]:
# Greater than nor equal to (>=)
Last_Name>=First_Name

False

In [108]:
# Less than nor equal to (<=)
Last_Name<=First_Name

True

## Python Assignment Operators for String Data type

In [109]:
Last_Name

'Sanga'

In [110]:
First_Name

'Uday'

In [111]:
# equal to (=) c=a+b
Name=First_Name+Last_Name

In [112]:
Name

'UdaySanga'

In [115]:
surname= "Yadav"

In [117]:
# Add And (+=)
surname+=Last_Name

In [118]:
surname

'YadavSanga'

In [119]:
#Subtract AND (-=) ----> unsupported operator for string
surname-=Last_Name

TypeError: unsupported operand type(s) for -=: 'str' and 'str'

In [120]:
# Multiply AND (*=)
First_Name*=3

In [121]:
First_Name

'UdayUdayUday'

In [122]:
First_Name*=Last_Name #can't multiply sequence by non-int of type 'str'

TypeError: can't multiply sequence by non-int of type 'str'

In [124]:
# Divide AND (/=)------> Unsupported Operator for string
First_Name/=Last_Name

TypeError: unsupported operand type(s) for /=: 'str' and 'str'

In [126]:
# Modulus AND (%=)-----> Unsupported Operator for string
First_Name%=Last_Name

TypeError: not all arguments converted during string formatting

In [127]:
#Exponent AND (**=) ----> Unsupported Operator for string
First_Name**=Last_Name

TypeError: unsupported operand type(s) for ** or pow(): 'str' and 'str'

In [128]:
# Flore Division (//=) ----> Unsupported Operator for string

First_Name//=Last_Name

TypeError: unsupported operand type(s) for //=: 'str' and 'str'

## Special Opertaors for String

In [130]:
# [] --> It returns the character at a given index

My_str="Udaysanga"

In [137]:
len(My_str)

9

In [131]:
My_str[1]

'd'

In [132]:
My_str[-1]

'a'

In [133]:
# [:] ----> Fetches the characters in the range specified by two index operators separated by the ":" symbol
My_str[:]

'Udaysanga'

In [134]:
My_str[3:]

'ysanga'

In [135]:
My_str[3:7]

'ysan'

In [136]:
My_str[:8]

'Udaysang'

In [138]:
# in ->operator ---> Return Boolean values
new="Uday kumar"

In [140]:
"Uday" in new

True

In [141]:
"Sanga" in new

False

In [142]:
# not in - Operator- Return Boolean values

"Uday" not in new

False

In [144]:
"Sanga" not in new

True

## Lists

In [148]:
my_lst=["uday","Uday","UDAY1","Uday1"]

In [149]:
#Slicing [] 
my_lst[1]

'Uday'

In [150]:
my_lst[1][1]

'd'

In [151]:
my_lst[2][1]

'D'

In [157]:
my_lst[2][4]

'1'

In [158]:
L1=[1,2,3,4,5]
L2=[6,7,8,9,10]

In [159]:
# Concatenation (+)
L1+L2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [169]:
New_L1="Hello"
New_L2="World"

In [170]:
New_L3=New_L1+New_L2
print(New_L3)

HelloWorld

In [162]:
# Repetation (*)
L1*2

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [163]:
L2*3

[6, 7, 8, 9, 10, 6, 7, 8, 9, 10, 6, 7, 8, 9, 10]

In [171]:
New_L1*3

'HelloHelloHello'

In [172]:
New_L3*3

'HelloWorldHelloWorldHelloWorld'

In [178]:
New_L3

'HelloWorld'

In [175]:
len(New_L3)

10

In [177]:
#Range Slicing [:]

New_L3[:6]

'HelloW'

In [179]:
New_L3[3:]

'loWorld'

In [180]:
New_L3[3:8]

'loWor'

In [181]:
L1

[1, 2, 3, 4, 5]

In [182]:
L2

[6, 7, 8, 9, 10]

In [183]:
3 in L1

True

In [184]:
6 in L1

False

In [185]:
6 in L2

True

In [186]:
11 in L2

False

In [187]:
"Hello" in New_L1

True

In [188]:
"Hello" in New_L2

False

In [189]:
"Hello" in New_L3

True

In [190]:
"World" not in L2

True

In [191]:
"world" not in New_L2

True

In [192]:
"World" not in New_L2

False

##  Tuples

In [195]:
my_tuple1=("Onecity","Pbelcity",1,2,3,4)

In [196]:
my_tuple2=my_tuple1+("Vbcity","Vivacity")

In [197]:
my_tuple2

('Onecity', 'Pbelcity', 1, 2, 3, 4, 'Vbcity', 'Vivacity')

In [204]:
#Concatenation (+)
t1=(1,2,3)
t2=(4,5,6)

In [199]:
t1+t2

(1, 2, 3, 4, 5, 6)

In [203]:
t2+(7,)

(4, 5, 6, 7)

In [206]:
#Repetition
t1*3

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [208]:
my_tuple1

('Onecity', 'Pbelcity', 1, 2, 3, 4)

In [207]:
len(my_tuple1)

6

In [218]:
# Slicing []
my_tuple1[1]

'Pbelcity'

In [219]:
my_tuple1[-1]

4

In [210]:
#Range Slicing [:]
my_tuple1[:]

('Onecity', 'Pbelcity', 1, 2, 3, 4)

In [211]:
my_tuple1[3:]

(2, 3, 4)

In [212]:
len(my_tuple1[1])

8

In [215]:
print(my_tuple1[1])

Pbelcity

In [213]:
my_tuple1[1][3]

'l'

In [214]:
my_tuple1[1][-2]

't'

In [220]:
# in --> operator

"onecity" in my_tuple1

False

In [221]:
"Onecity" in my_tuple1

True

In [222]:
# not in ---. operator

"Vbcity" not in my_tuple1

True

In [223]:
"Vbcity" not in my_tuple2

False

## Sets
- Indexing and slicing  operations cannot be done on a set object